name: Deploy Microservice

on:
  workflow_call:
    inputs:
      module_path:
        required: true
        type: string
      docker_image:
        required: true
        type: string
    secrets:
      DEPLOY_TOKEN:
        required: true
      DOCKER_USERNAME:
        required: true
      DOCKER_PASSWORD:
        required: true

jobs:
  deploy-micro:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 25
          distribution: temurin
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build microservice JAR
        env:
          DEPLOY_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
        run: |
          cd ${{ inputs.module_path }}
          echo "<settings>
            <servers>
              <server>
                <id>github</id>
                <username>${{ github.actor }}</username>
                <password>${DEPLOY_TOKEN}</password>
              </server>
            </servers>
            <profiles>
              <profile>
                <id>github</id>
                <repositories>
                  <repository>
                    <id>github</id>
                    <url>https://maven.pkg.github.com/gescoes/commons_parent</url>
                  </repository>
                  <repository>
                    <id>github</id>
                    <url>https://maven.pkg.github.com/gescoes/commons_backend</url>
                  </repository>
                  <repository>
                    <id>github</id>
                    <url>https://maven.pkg.github.com/gescoes/commons_model</url>
                  </repository>
                </repositories>
              </profile>
            </profiles>
            <activeProfiles>
              <activeProfile>github</activeProfile>
            </activeProfiles>
          </settings>" > settings.xml
          mvn clean package -s settings.xml
      - name: Extract Maven version
        id: project_version
        run: |
          VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout -f ${{ inputs.module_path }}/pom.xml)
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
      - name: Login to Docker
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push Docker Image
        run: |
          VERSION=${{ steps.project_version.outputs.VERSION }}
          IMAGE_NAME=${{ inputs.docker_image }}
          
          echo "Building image version: $VERSION"
          
          docker build -t $IMAGE_NAME:latest -t $IMAGE_NAME:$VERSION ${{ inputs.module_path }}
          
          docker push $IMAGE_NAME:latest
          docker push $IMAGE_NAME:$VERSION
